.weekly-newsletter {
  h3 {
    color: $primary-clr;
    margin: 2rem 0rem;
  }
  .most-popular-sweets {
    &::-webkit-scrollbar {
      height: 0.7rem;
    }
    &::-webkit-scrollbar-track {
      border-radius: 1rem;
      box-shadow: inset 0rem 0rem 0.1rem 0rem $primary-clr;
    }
    &::-webkit-scrollbar-thumb {
      background: $primary-clr;
      border-radius: 1rem;
    }

    padding: 1rem 0.5rem;
    display: flex;
    gap: 0rem 2rem;
    overflow-x: scroll;
    .tweets {
      background: $bg-clr-1;
      width: 20rem;
      @include bxShadow;
      border-radius: 0.3rem;
      img {
        width: 100%;
        height: 10rem;
      }

      .profile,
      h3,
      .content {
        padding: 0.3rem 1rem;
        margin: 0;
      }
      .profile {
        @include profile;
        padding: 1rem;
        img {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
        }
      }
    }
  }
}
